p{
    text-align: center;
}
em strong{
    color: red;
}
h1{
    text-align: center;
}
#banner{
    width: 100%;
}
.principal{
    background-color:#CCCCCC;
    padding: 30px;


}
.itens{
    font-style: italic;
}
.beneficios{
    background-color:#FFFFFF;
    padding: 20px;

}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15% ;
}
.imgbeneficios{
    width: 50%;
}