body{
}
p{
    text-align: center;
}
em strong{
    color: red;
}
h1{
    text-align: center;
}
#banner{
    width: 100%;
}
.principal{
    background-color:#cccccc;


}
.itens{
    font-style: italic;
}
.beneficios{
    background-color:#FFFFFF;
}